
@font-face {
  font-family: 'fontello';
  src: url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.eot');
  src: url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.eot?#iefix') format('embedded-opentype'),
       url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.woff') format('woff'),
       url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.ttf') format('truetype'),
       url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.svg#fontello') format('svg');
  font-weight: normal; font-style: normal;
}
[class*="a_icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-size: 2em;
  speak: none;
}
.a_icon-home:after     { content: "\2302"; } 
.a_icon-cog:after      { content: "\2699"; } 
.a_icon-cw:after       { content: "\26e4"; } 
.a_icon-location:after { content: "\2630"; } 


.circle_a_li {
  list-style: none;
  width: 100%;
  text-align: center;
  padding: 0 0 0 0;
  /*background-color:#aaa;*/
}
.circle_a_li li {
  position: relative;
  display: inline-block;
}
.circle_a_li li:before {
  content: " ";
  display: block;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: -1;
}
.circle_a_li a:link, .circle_a_li a:visited {
  display: block;
  text-decoration: none;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  color: #a7a7a7;
  margin: 30px;
  width: 80px;
  height: 80px;
  position: relative;
  text-align: center;
  line-height: 80px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  border: solid 1px transparent;
}
.circle_a_li a:before {
  content: " ";
  display: block;
  background: #fff;
  border-top: 2px solid #ddd;
  position: absolute;
  top: -28px;
  left: -28px;
  bottom: -28px;
  right: -28px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #ddd;
}
.circle_a_li a:active {
  box-shadow: none;
  border: solid 1px #a7a7a7;
}
.circle_a_li a:hover {
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}