{% extends "main_frame.html" %}
{% block conten_body %}
<!--<script type="text/javascript" src="{{url_for('static', filename='js/echarts-all-2.0.js')}}"></script>-->
<script type="text/javascript" src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>
<div id="echart_div">
	<div id="echart_graph" class="container" style="width:100%;height:100%;"></div>
</div>

<script type="text/javascript">
	var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};

// 基于准备好的dom，初始化echarts图表
	var sensorDataChart = echarts.init(document.getElementById('echart_graph')); 
	var option = {
		title : {
	        text: '传感器监测数据',
	    },
		tooltip: {
			trigger: 'axis',
			show: true
		},
		legend: {
			data:['传感器']
		},
		grid:{
			x: '45px',
			y: '45px',
			x2: '45px',
			y2: '45px'	
		},
		toolbox: {
	        show : true,
	        feature : {
				mark : {show: true},
				dataView : {show: true, readOnly: false},
				magicType : {show: true, type: ['line', 'bar']},
				restore : {show: true},
				saveAsImage : {show: true}
			}
	    },
		dataZoom : {
			show : true,
			start : 0,
			end : 100
		},
		calculable : false,
		xAxis : [
			{
				type : 'category',
				boundaryGap : true,
				data : []
			}
		],
		yAxis : [
			{
				type : 'value',
			}
		],
		symbolList : null,
		series : [
			{
				"name":"传感器",
				"type":"line",
				"symbol":'none',
				"color":"#86CEFA",
				"itemStyle":{
					"normal":{
						"lineStyle":{
							"color":"#86CEFA",
							'width':3
						}
					}
				},
				"data":[]
			}
		]
	};
	var sensor_type = 'LightIntensity';
	function get_sensor_echarts_data(echarts_frame_title, echarts_frame_data_url){
		
		option.title.text = echarts_frame_title;
		$.getJSON($SCRIPT_ROOT + echarts_frame_data_url, {
			now: new Date().getTime(),
			type: sensor_type
		}, 
		function(json_data) {
			var sensor_data_list = json_data['data'];
			var sensor_data_length = sensor_data_list.length;
			var data_max = Math.max.apply(null, sensor_data_list);
			var xAxis_list = new Array(sensor_data_length);
			for(var i=0;i < xAxis_list.length; ++i){
				xAxis_list[i] = i+1;
			}
			if(data_max > 3000){
				option.yAxis[0]['max'] = 3000;
			}			
			option.legend.data[0] = json_data['sensor_type'];
			option.xAxis[0].data = xAxis_list;
			option.series[0].name = json_data['sensor_type'];
			option.series[0].data = sensor_data_list;
			
			sensorDataChart.setOption(option); // 为echarts对象加载数据 
			{% block echart_insert_script %}{% endblock %}
		});	
	}
	
</script>

{% block echart_script %}{% endblock %}

{% endblock %}




