{% extends "main_frame.html" %}
{% block conten_body %}
<!--<script type="text/javascript" src="{{url_for('static', filename='js/echarts-all-2.0.js')}}"></script>-->
<script type="text/javascript" src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>
<div>

	<div class="row">
		<style>#sensor_tab a {color:#FFFFFF;}</style>
		<ul id="sensor_tab" class="nav nav-tabs">
		   <li><a id="sensor_tab_0" href="" data-toggle="tab" sensor_type="LightIntensity">光照强度</a></li>
		   <li><a id="sensor_tab_1" href="" data-toggle="tab" sensor_type="Temperature">温度</a></li>
		   <li><a id="sensor_tab_2" href="" data-toggle="tab" sensor_type="Humidity">湿度</a></li>
		   <li><a id="sensor_tab_3" href="" data-toggle="tab" sensor_type="SmogPercentage">烟雾浓度</a></li>		   
		   <li><a id="sensor_tab_4" href="" data-toggle="tab" sensor_type="WaveDistance">超声波测距</a></li>
		   <li><a id="sensor_tab_5" href="" data-toggle="tab" sensor_type="BodyStatus">人体检测</a></li>
		</ul>
	</div>
	
	<div id="echart_div">
		<div id="echart_graph" class="container" style="width:100%;height:100%;"></div>
	</div>
</div>

<script type="text/javascript">
	var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
// 基于准备好的dom，初始化echarts图表
	
	var option = {
		title : {
	        text: '传感器监测数据',
	    },
		tooltip: {
			trigger: 'axis',
			show: true
		},
		legend: {
			data:['传感器']
		},
		grid:{
			x: '45px',
			y: '45px',
			x2: '45px',
			y2: '45px'	
		},
		toolbox: {
	        show : true,
	        feature : {
				mark : {show: true},
				dataView : {show: true, readOnly: false},
				magicType : {show: true, type: ['line', 'bar']},
				restore : {show: true},
				saveAsImage : {show: true}
			}
	    },
		dataZoom : {
			show : true,
			start : 0,
			end : 100
		},
		calculable : false,
		xAxis : [
			{
				type : 'category',
				boundaryGap : true,
				data : []
			}
		],
		yAxis : [
			{
				type : 'value',
			}
		],
		symbolList : null,
		series : [
			{
				"name":"传感器",
				"type":"line",
				"symbol":'none',
				"color":"#86CEFA",
				"itemStyle":{
					"normal":{
						"lineStyle":{
							"color":"#86CEFA",
							'width':3
						}
					}
				},
				"data":[]
			}
		]
	};
	var EcharsClass = function(){
		var _self = this;
		var now_sensor_type=null;
		var is_getting_ajax_data=false;
		var sensorDataChart = echarts.init(document.getElementById('echart_graph'));
		this.start_sensor_data_ajax = function (sensor_type, echarts_frame_title, echarts_frame_data_url){
			sensorDataChart.clear();
			this.sensor_data_count = 0;
			option.title.text = echarts_frame_title;
			is_getting_ajax_data=true;
			$.getJSON($SCRIPT_ROOT + echarts_frame_data_url, {
				now: new Date().getTime(),
				type: sensor_type
			}, 
			function(json_data) {
				var max_show_data = 3000;
				var sensor_data_list = json_data['data'];
				var sensor_data_length = sensor_data_list.length;
				var data_max = (function(){
					var max_data_value = sensor_data_list[0];
					for(var data_list_i=1;data_list_i<sensor_data_length;data_list_i++){
						if(max_data_value < sensor_data_list[data_list_i]){
							max_data_value = sensor_data_list[data_list_i];
						}
					}
					return max_data_value;
				}());
				var xAxis_list = new Array(sensor_data_length);
				for(var i=0;i < xAxis_list.length; ++i){
					xAxis_list[i] = i+1;
				}
				//option.yAxis[0]['max'] = (data_max > max_show_data)?max_show_data:(data_max*1.5);
				delete option.yAxis[0]['max'];
				if(data_max > max_show_data){
					option.yAxis[0]['max'] = max_show_data;
				}
				
				option.legend.data[0] = json_data['sensor_type'];
				option.xAxis[0].data = xAxis_list;
				option.series[0].name = json_data['sensor_type'];
				option.series[0].data = sensor_data_list;
				is_getting_ajax_data = false;
				sensorDataChart.setOption(option); // 为echarts对象加载数据 
			});	
		};
		this.get_sensor_echarts_data = function (sensor_type, echarts_frame_title, echarts_frame_data_url){
			now_sensor_type = sensor_type;
			this.start_sensor_data_ajax(sensor_type, echarts_frame_title, echarts_frame_data_url);
		};
		this.get_is_getting_ajax_data_status = function(){return is_getting_ajax_data};
		this.get_sensorDataChart = function(){return sensorDataChart};
		this.sensor_chart_add_data = function(data,index_sign){
			sensorDataChart.addData([
				[
					0,        // 系列索引
					data, // 新增数据
					false,     // 新增数据是否从队列头部插入
					false,     // 是否增加队列长度，false则自定删除原有数据，队头插入删队尾，队尾插入删队头
					index_sign
				]
			]);	
		}
	}
	$(function () {
		$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
			var sensor_target_id = $(e.target).attr("id"); // 获取已激活的标签页的名称
			var related_target_id = $(e.relatedTarget).attr("id");
			get_sensor_echarts_data_decorate($(e.target).attr("sensor_type"));
			document.getElementById(sensor_target_id).style.color="#000000";
			document.getElementById(related_target_id).style.color="#FFFFFF";
		});
		$('#sensor_tab li:eq(0) a').tab('show');
	});
	var sensor_echart = new EcharsClass();
</script>

{% block echart_script %}{% endblock %}

{% endblock %}




