{% extends "layout.html" %}
{% block frame_body %}
<script src="http://www.veryhuo.com/uploads/Common/js/jQuery.md5.js"></script>
<script>
	function checkLogin()
	{
		var	username=$('#user_login_name').val();
		var	password=$('#user_login_password').val();
		if (username == "" || password == "")
		{
			alert("用户名与密码不能为空");
			return false;
		}
		var reg = /^[0-9A-Za-z_]+$/;
		if(!reg.exec(username))
		{
			alert("用户名请勿包含特殊字符");
			return false;
		}
		document.getElementById("user_login_password").value = $.md5(password);
		document.getElementById("login_form").submit();
	}
</script>
{% if error %}
	<div class="alert alert-danger alert-dismissible fade in" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <strong>Warning!</strong> Better check yourself, you can't login.<strong>{{ error }}</strong>
	</div>	
{% endif %}
<div class="login_bar">
	<form id="login_form" action="{{ url_for('login') }}" method="post" class="form-horizontal login_form" role="form">
	<label>用户登录</label>
	<div class="form-group">
		<div class="col-xs-12">
			<input type="text" name="username" class="form-control" id="user_login_name" placeholder="请输入用户名">
		</div>
	</div>

	<div class="form-group">
		<div class="col-xs-12">
			<input type="password" name="password" class="form-control" id="user_login_password" placeholder="请输入密码">
		</div>
	</div>

	<div class="form-group">
		<div class="col-xs-12">
			<button type="button" class="btn btn-default" style="width:100%" onclick="checkLogin();"> 登  录 </button>
		</div>
	</div>
	</form>
<div>

{% endblock %}