{% extends "layout.html" %}
{% block frame_body %}
<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/BootSideMenu.css') }}" />-->
<link rel="stylesheet" href="https://cdn.rawgit.com/AndreaLombardo/BootSideMenu/master/css/BootSideMenu.css">
<!--<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.0.0.min.js')}}"></script>-->

<!--<script type="text/javascript" src="{{url_for('static', filename='js/BootSideMenu.js')}}"></script>-->
<script src="https://cdn.rawgit.com/AndreaLombardo/BootSideMenu/master/js/BootSideMenu.js"></script>

<div class="row">
	<div id="leftSideBar">
		<div class="userFace">
			<img src="{{ url_for('static', filename='img/face_japan_01.gif')}}" alt="Esempio" class="img-thumbnail">
			<label class="">{{ session.username }}</label>
	    </div>
		<div class="containerBar"> 
			<ul>
				<li class="dropdown">
				  <a href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i>　用户信息　<i class="icon-arrow"></i></a>
				  <ul class="dropdown_menu">
					<li><a href="{{url_for('main_frame_show')}}" target="_self">查看用户信息</a></li>
					<li><a href="{{url_for('logout')}}" target="_self">注销退出</a></li>
				  </ul>
				</li>
				<li class="dropdown">
				  <a href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-screenshot"></i>　实时监控　<i class="icon-arrow"></i></a>
				  <ul class="dropdown_menu">
					<li><a href="{{url_for('sensor')}}" target="_self">查看当前传感器</a></li>
				  </ul>
				</li>
				<li class="dropdown">
				  <a href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-stats"></i>　数据统计　<i class="icon-arrow"></i></a>
				  <ul class="dropdown_menu">
					<li><a href="{{url_for('get_today_data_chart')}}" target="_self">今日数据</a></li>
					<li><a href="{{url_for('get_history_data_chart')}}" target="_self">历史数据</a></li>
				  </ul>
				</li>
				<li class="dropdown">
				  <a href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-eye-open"></i>　视屏监控　<i class="icon-arrow"></i></a>
				  <ul class="dropdown_menu">
					<li><a href="trainsetIsNormal" target="_self">单人对讲</a></li>
					<li><a href="trainsetIsAccident" target="_self">视频群聊</a></li>
				  </ul>
				</li>
				<li class="dropdown">
				  <a href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i>　管理传感器　<i class="icon-arrow"></i></a>
				  <ul class="dropdown_menu">
					<li><a href="trainsetIsNormal" target="_self">查看传感器信息</a></li>
					<li><a href="{{url_for('lights_control')}}" target="_self">修改传感器</a></li>
				  </ul>
				</li>
			</ul>
		</div>
		<script src="{{url_for('static', filename='js/leftbar.js')}}"></script>
	</div>
	
	<script type="text/javascript">
		$.ajaxSettings.async = true;
		$(document).ready(function(){
			$('#leftSideBar').BootSideMenu({side:"left", autoClose:true});
		});
	</script>
</div>


<script type="text/javascript">
	$(document).ajaxError(function(){
        console.log("Ajax error.");
	});
</script>

<div class="row">
	{% block conten_body %}{% endblock %}
</div>
	
	

{% block script %}{% endblock %}
{% endblock %}