{% extends "main_frame.html" %}
{% block conten_body %}
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.md5.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tree_style.css') }}" />
	<div class="user_info_div">
        <h2 class="title">用户信息</h2>
        <div class="tree well" id="user_info_tree" >
        	<ul style="padding-left: 0;margin-left: 0;">
		        <li>
		            <div class="btn btn-danger"><i class="glyphicon glyphicon-user"></i> 当前用户: {{ username }} </div>
		            <ul>
		                <li>
		                	<span class="btn btn-success"><i class="glyphicon glyphicon-plus-sign"></i> 密 码 管 理 </span>
		                    <ul>
		                        <li style="display:none;">
			                        <div><span class="btn btn-info"><i class="glyphicon glyphicon-exclamation-sign"></i> 当前密码 </span> <input type="password" name="initial_password" id="initial_password" placeholder="请输入初始密码" required="required"/></div>
		                        </li>
								<li style="display:none;">
									<div><span class="btn btn-info"><i class="glyphicon glyphicon-exclamation-sign"></i> 新密码　 </span> <input type="password" name="new_password" id="new_password" placeholder="请输入新密码" required="required"/></div>
		                        </li>
								<li style="display:none;">
									<div><span class="btn btn-info"><i class="glyphicon glyphicon-exclamation-sign"></i> 重复密码 </span> <input type="password" name="repeat_password" id="repeat_password" placeholder="请重复输入新密码" required="required"/></div>
		                        </li>
		                    </ul>
		                </li>
		                <li>
		                	<span class="btn btn-success"><i class="glyphicon glyphicon-minus-sign"></i> 节 点 管 理 </span>
		                    <ul id="terminal_list">
		                    </ul>
		                </li>
		            </ul>
		        </li>
		    </ul>
		    <div style="margin-top: 40px;">
			   <div class="row">
				  <div class="col-xs-6"><button class="btn btn-danger" style="display: block;float: left;" onclick="location.reload()"><i class="glyphicon glyphicon-remove-sign"></i> 取消修改 </button></div>
				  <div class="col-xs-6"><button class="btn btn-success" style="display: block;float: right;" onclick="post_amend_user_info()"><i class="glyphicon glyphicon-ok-sign"></i> 确认修改 </button></div>
				</div>
			</div>
        </div>
	</div>
<!-- Modal -->
<div class="modal fade" id="AlterConfirmModal" tabindex="-1" role="dialog" aria-labelledby="dialogModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="dialogModalLabel"><b><i class="glyphicon glyphicon-info-sign"></i>提示</b></h3>
      </div>
      <div class="modal-body">
		<label id="dialog_content">修改成功!</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
	<script type="text/javascript">
	function config_tree_attr(parent_li){
	    parent_li.addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
	    parent_li.find(' > span').on('click', function (e) {
	        var children = $(this).parent('li.parent_li').find(' > ul > li');
	        if (children.is(":visible")) {
	            children.hide('fast');
	            $(this).attr('title', 'Expand this branch').find(' > i').addClass('glyphicon-plus-sign').removeClass('glyphicon-minus-sign');
	        } else {
	            children.show('fast');
	            $(this).attr('title', 'Collapse this branch').find(' > i').addClass('glyphicon-minus-sign').removeClass('glyphicon-plus-sign');
	        }
	        e.stopPropagation();
	    });
	}

	config_tree_attr($('.tree li:has(ul)'));

	</script>
	
	<script type=text/javascript>
	
	function Synchronize_parent_li_lable(input_box){		
		var target = $(input_box).parent('div').parent('li').parent('ul').parent('li').children('span');
		$(target).html($(target).html().replace($(target).text(), " " + $(input_box).val()));
	}
	
	function creat_sensor_li(sensor){
		var sensor_info_ul = $("<ul></ul>").append($("<li></li>").append('<div><span><i class="glyphicon glyphicon-list"></i> 传感器类型 </span> <input type="text" class="sensor_type_input" required="required" value="' + sensor["SensorType"] + '"/></div>'));
		sensor_info_ul.append($("<li></li>").append('<div><span><i class="glyphicon glyphicon-list"></i> 显示名称　 </span> <input type="text" class="sensor_display_input" required="required" oninput="Synchronize_parent_li_lable(this);" value="' + sensor["DisplayName"] + '"/></div>'));
		sensor_info_ul.append($("<li></li>").append('<div><span><i class="glyphicon glyphicon-list"></i> 单位　　　 </span> <input type="text" class="sensor_unit_input" required="required" value="' + sensor["QuantityUnit"] + '"/></div>'));
		var sensor_li = $('<li class="sensor_node"></li>');
		sensor_li.append($('<span class="btn btn-primary"><i class="glyphicon glyphicon-minus-sign"></i> ' + sensor["DisplayName"] + ' </span>'));
		sensor_li.append($('<i class="btn glyphicon glyphicon-remove-sign" onclick="delete_terminal_sensor_DOM(this)" style="border-radius: 50%;color: #B7B9BB;font-size: 16px;"></i>'));
		sensor_li.append(sensor_info_ul);
		config_tree_attr(sensor_li);
		return sensor_li;
	}
	
	function creat_switching_li(switching){
		var switching_info_ul = $("<ul></ul>").append($("<li></li>").append('<div><span><i class="glyphicon glyphicon-list"></i> 开关类型 </span> <input type="text" class="switching_type_input" required="required" value="' + switching["SwitchType"] + '"/></div>'));
		switching_info_ul.append($("<li></li>").append('<div><span><i class="glyphicon glyphicon-list"></i> 显示名称　 </span> <input type="text" class="switching_display_input" required="required" oninput="Synchronize_parent_li_lable(this);" value="' + switching["DisplayName"] + '"/></div>'));
		switching_info_ul.append($("<li></li>").append('<div><span><i class="glyphicon glyphicon-list"></i> 序号　　　 </span> <input type="text" class="switching_index_input" required="required" value="' + switching["SwitchIndex"] + '"/></div>'));
		var switching_li = $('<li class="switching_node"></li>');
		switching_li.append($('<span class="btn btn-warning"><i class="glyphicon glyphicon-minus-sign"></i> ' + switching["DisplayName"] + ' </span>'));
		switching_li.append($('<i class="btn glyphicon glyphicon-remove-sign" onclick="delete_terminal_sensor_DOM(this)" style="border-radius: 50%;color: #B7B9BB;font-size: 16px;"></i>'));
		switching_li.append(switching_info_ul);
		config_tree_attr(switching_li);
		return switching_li;
	}
	
	function creat_terminal_li(index,address,place,sensors,switches){
		var terminal_info_ul = $("<ul></ul>").append($("<li></li>").append('<div><span><i class="glyphicon glyphicon-list"></i> 地址 </span> <input type="text" class="terminal_address_input" required="required" value="' + address.toString() + '"/></div>'));
		terminal_info_ul.append($("<li></li>").append('<div><span><i class="glyphicon glyphicon-list"></i> 位置  </span> <input type="text" class="terminal_place_input" required="required" value="' + place.toString() + '"/></div>'));
		for(var sensor_index in sensors){
			var sensor = sensors[sensor_index];
			terminal_info_ul.append(creat_sensor_li(sensor));
		}
		terminal_info_ul.append($('<li><div><span class="btn btn-primary" onclick="append_sensor_DOM(this)"><i class="glyphicon glyphicon-plus-sign"></i> 添加传感器 </span></li>'));
		
		for(var switching_index in switches){
			var switching = switches[switching_index];
			terminal_info_ul.append(creat_switching_li(switching));
		}
		terminal_info_ul.append($('<li><div><span class="btn btn-warning" onclick="append_switching_DOM(this)"><i class="glyphicon glyphicon-plus-sign"></i> 添加开关 </span></li>'));
		
		var terminal_li = $('<li class="terminal_node"></li>');
		terminal_li.append($('<span class="btn btn-info"><i class="glyphicon glyphicon-minus-sign"></i> 传感器节点' + index.toString() + '</span>'));
		terminal_li.append($('<i class="btn glyphicon glyphicon-remove-sign" onclick="delete_terminal_sensor_DOM(this)" style="border-radius: 50%;color: #B7B9BB;font-size: 16px;"></i>'));
		terminal_li.append(terminal_info_ul);
		config_tree_attr(terminal_li);
		return terminal_li;
	}
	
	function generate_terminals_li_DOM(terminals){
		for(var terminal_index in terminals){
			var terminal = terminals[terminal_index];
			$("#terminal_list").append(creat_terminal_li(terminal_index, terminal["Address"], terminal["Place"], terminal["SensorList"], terminal["SwitchList"]));
		}
		$("#terminal_list").append($('<li><div><span class="btn btn-info" onclick="append_terminal_DOM(this)"><i class="glyphicon glyphicon-plus-sign"></i> 添加节点 </span></li>'));
	}
	
	function append_sensor_DOM(target){
		target = $(target);
		var target_parent_li = target.parent('div').parent('li');
		target_parent_li.before(creat_sensor_li({
			"SensorType":"",
			"DisplayName":"传感器",
			"QuantityUnit":""
			})
	);
	}

	function append_switching_DOM(target){
		target = $(target);
		var target_parent_li = target.parent('div').parent('li');
		target_parent_li.before(creat_switching_li({
			"SwitchType":"",
			"DisplayName":"开关",
			"SwitchIndex":""
			})
	);
	}
	
	function append_terminal_DOM(target){
		target = $(target);
		var target_parent_li = target.parent('div').parent('li');
		target_parent_li.before(creat_terminal_li("","","",[],[]));
	}

	function delete_terminal_sensor_DOM(target){
		target = $(target);
		var target_parent_li = target.parent('li');
		target_parent_li.hide('fast',function(){
			target_parent_li.remove();
		});
	}
	
	function generate_terminals_info_json(){
		var terminals_json = [];
		var terminals = $("#terminal_list li[class*='terminal_node']");
		$.each(terminals, function(terminals_index,terminal){
			var terminal_info = {};
			var terminal_info_div = $(terminal).find('ul li div');
			var terminal_address = terminal_info_div.find('input[class*=terminal_address_input]').val();
			var terminal_place = terminal_info_div.find('input[class*=terminal_place_input]').val();
			if((terminal_address == "") || (terminal_place == "")){
				return true;
			}
			terminal_info["Address"] = terminal_address;
			terminal_info["Place"] = terminal_place;
			
			var sensors = $(terminal).find('ul li[class*=sensor_node]');
			var sensors_json = [];
			$.each(sensors,function(sensor_index,sensor){
				var sensor_info = {};
				var sensor_info_div = $(sensor).find('ul li div');
				var sensor_type = sensor_info_div.find('input[class*=sensor_type_input]').val();
				var sensor_dispaly = sensor_info_div.find('input[class*=sensor_display_input]').val();
				var sensor_unit = sensor_info_div.find('input[class*=sensor_unit_input]').val();
				if((sensor_type == "") || (sensor_dispaly == "")){
					return true;
				}
				sensor_info["SensorType"] = sensor_type;
				sensor_info["DisplayName"] = sensor_dispaly;
				sensor_info["QuantityUnit"] = sensor_unit;
				sensors_json.push(sensor_info);
			});
			terminal_info["SensorList"] = sensors_json;
			
			var switches = $(terminal).find('ul li[class*=switching_node]');
			var switches_json = [];
			$.each(switches,function(switching_index,switching){
				var switching_info = {};
				var switching_info_div = $(switching).find('ul li div');
				var switching_type = switching_info_div.find('input[class*=switching_type_input]').val();
				var switching_dispaly = switching_info_div.find('input[class*=switching_display_input]').val();
				var switching_index = switching_info_div.find('input[class*=switching_index_input]').val();
				if((switching_type == "") || (switching_index == "")){
					return true;
				}
				switching_info["SwitchType"] = switching_type;
				switching_info["DisplayName"] = switching_dispaly;
				switching_info["SwitchIndex"] = switching_index;
				switches_json.push(switching_info);
			});
			terminal_info["SwitchList"] = switches_json;
			
			terminals_json.push(terminal_info);
		});
		return terminals_json;
	}
	
	function generate_user_info_json(){
		var username = $("#username_label").attr("value");
		var initial_password = $("#initial_password").val();
		var user_info = {};
		if(initial_password != ""){
			initial_password = $.md5(initial_password);
			user_info["InitPassword"] = initial_password;
			var new_password = $("#new_password").val();
			if(new_password != ""){
				new_password = $.md5(new_password);
				var repeat_password = $.md5($("#repeat_password").val());
				if(repeat_password == new_password){
					user_info["NewPassword"] = new_password;
				}else{
					return null;
				}
			}
		}
		user_info["UserName"] = username;
		user_info["Terminal"] = generate_terminals_info_json();
		return user_info;
	}
	
	function post_amend_user_info()
	{
		var user_info = generate_user_info_json();
		if(user_info == null){
			$("#dialog_content").text("两次输入密码不相同！");
			$('#AlterConfirmModal').modal();
			return false;
		}
		$.post("{{url_for('user_info_alter')}}",
	    {
	      "user_info":JSON.stringify(user_info)
	    },
	    function(data, status){
	      if(data == "Success"){
	      	$("#dialog_content").text("修改成功！");
	      }else{
	      	$("#dialog_content").text("修改失败！");
	      }
	      $('#AlterConfirmModal').modal();
	    });
	}
	
	{% autoescape false %}
		{% if terminals %}
			var terminals = {{ terminals }};
			generate_terminals_li_DOM(terminals);
		{% endif %}
	{% endautoescape %}
	</script>
{% endblock %}