{% extends "main_frame.html" %}
{% block conten_body %}
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.md5.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tree_style.css') }}" />
<script type="text/javascript" src="{{url_for('static', filename='js/SkyRTC-client.js')}}"></script>
	<div class="user_info_div">
        <h2 class="title">视频通话</h2>
        <p style="text-align: center;color: #bbbbbb;">当前在线设备数:[<label id="current_devices_num"> 0 </label>]</p>
        <div style="width: 100%;">
	        <div id="videos"></div>
		</div>
	</div>

{% endblock %}

{% block script %}
	<script type="text/javascript">
		var VideoDomOperation = new function (){
			var videos_list = [];
			var setVideosWidth = function (){
				video_width = videos_list.length == 1 ? 'auto' : (( videos_list.length == 2 || screen.availWidth < 1024) ? '45%' : '30%');
				for(var video_index in videos_list){
					videos_list[video_index].css("width",video_width);
				}
			}
			this.creatVideoDOM = function (id){
				var videos = $('#videos');
				var newVideoDiv = $(document.createElement("div"))
					.attr({
						"style": "display: inline-block;vertical-align: top;width: auto;height: auto;border-radius: 10px;background-color: #FFFFFF;margin: 1.5%;padding: 10px 10px 30px 10px;"
					});
				videos_list.push(newVideoDiv);
				var newVideo = $(document.createElement("video"))
					.attr({
						"id": id,
						"controls": "true",
						"autoplay": "true",
						"style": "display: block;max-width: 100%;width: atuo;height: auto;margin-left: auto;margin-right: auto;border: 2px;border-style: solid;border-color: #000000;"
					});
				newVideoDiv.append(newVideo);
				videos.append(newVideoDiv);
				setVideosWidth();
				return newVideo.get(0);
			}
			this.removeVideoDom = function (videoDom){
				videos_list.splice(videos_list.indexOf(videoDom), 1);
				videoDom.remove();
				setVideosWidth();
			}
		}
		var rtc = SkyRTC();
		//成功创建WebSocket连接
		rtc.on("connected", function(socket) {
			//创建本地视频流
			$("#current_devices_num").text(rtc.connections.length + 1);
			rtc.createStream({
				"video": true,
				"audio": true
			});
		});
		//创建本地视频流成功
		rtc.on("stream_created", function(stream) {
			var newVideo = VideoDomOperation.creatVideoDOM('me');
			newVideo.src = URL.createObjectURL(stream);
    		newVideo.play();
    		newVideo.muted = true;
		});
		//创建本地视频流失败
		rtc.on("stream_create_error", function(error) {
			console.log(error);
			console.log("create video stream failed!");
			alert("create video stream failed!");
		});
		//接收到其他用户的视频流
		rtc.on('pc_add_stream', function(stream, socketId) {
			var	id = "other-" + socketId;
			var newVideo = VideoDomOperation.creatVideoDOM(id);
			rtc.attachStream(stream, id);
		});
		//添加新用户
		rtc.on('new_peer', function(socketId) {
			$("#current_devices_num").text(rtc.connections.length + 1);
		});
		//删除其他用户
		rtc.on('remove_peer', function(socketId) {
			var video = $('#other-' + socketId);
			if(video.get().length > 0){
				VideoDomOperation.removeVideoDom(video.parent());
			}
			$("#current_devices_num").text(rtc.connections.length + 1);
		});
		
	</script>
	
	<script type="text/javascript">
	{% autoescape false %}
		{% if room %}
			var video_room = '{{ room }}';
			var skyrtc_server_port = '{{ skyrtc_server_port }}';
			//连接WebSocket服务器
			rtc.connect('ws://' + document.domain + ':' + skyrtc_server_port, video_room);
		{% endif %}
	{% endautoescape %}
	</script>
{% endblock %}